@font-face {
	font-family: Fixel;
	src: url("fonts/FixelVariable.ttf");
}

html {
	scroll-behavior:smooth;
}

p {
	font-family: Fixel;
	font-size: 1.3rem;
}

h1, h2, h3 {
	font-family: Fixel;
	font-weight: 500;
}

h3 {
	font-size: 1.6rem;
	padding-bottom: 0.1em;
}

img {
	max-width: 100%;
}

body {
	margin:0;
}

div {
	text-align:left;
}

/*Used to center content block inside a canvas*/
.container {
	margin: 0 auto;
	max-width: 1000px;
	padding-left: 36px;
	padding-right: 36px;
}

/*Additional class to bleed color on full canvas with height of the container*/
.full-bleed {
	box-shadow: 0 0 0 100vmax #dddaff;
	clip-path: inset(0 -100vmax); 
}

.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
	}


.grid-half {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
	padding-top:3rem;
	padding-bottom: 3rem;

}

.header-logo img {
	max-height: 64px;
	border-bottom: 2px;
}

.center-text {
}

.center-text h1 {
	margin:0;
	font-weight:600;
	font-size: 3.6rem;
}

.center-text p {
	padding:0;
	margin:0;
	font-size:2rem;
}

.grid-3-1 {
	display:grid;
	grid-template-columns:3fr 1fr;
	grid-gap: 32px;
	padding-top:3rem;
	padding-bottom: 3rem;
}

.grid-1-3 {
	display:grid;
	grid-template-columns:1fr 3fr;
	grid-column-gap: 48px;
}

.main-text-cont {
	max-width: 600px;
}

.dov {
	font-weight:500;
	color:#7d5bfa;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
	text-decoration-color: rgb(126 92 251 / 60%);
	
}

.services {
	padding-top:3rem;
	padding-bottom: 3rem;
	background-color: rgb(14 0 64);
	color: #dddaff;
}

.full-bleed-services {
	box-shadow: 0 0 0 100vmax #0d0040;
	clip-path: inset(0 -100vmax); 
}

.service h3,p {
	margin:16px;
}

.center-img {
	display:flex;
	align-items:center;
	justify-content:center;
}

.for-who {
	display:grid;
	grid-template-columns: 7fr 3fr;
		padding-top: 3rem;
	padding-bottom: 3rem;
}

.repeat-logo {
	background-image: url("logo-w.png");
	background-repeat: round;
	background-size: 20%;
}

.card-form {
	background-color: rgb(14 0 64);
	text-align: center;
	color: #dddaff;
	margin:3rem;
	padding:2rem;
	max-width: 600px;
	box-shadow: 0px 2px 5px #cccccc;
}

.full-bleed-card-form {
	box-shadow: 0 0 0 100vmax rgb(14 0 64);
	clip-path: inset(0 -100vmax); 
}

.center {
	display:flex;
	justify-content:center;
}

.col input {
	margin:0.4rem;
	width:90%;
	height:2rem;
	font-size:1rem;
}

.form-group textarea {
	margin: 0.4rem;
	width:90%;
	height: 10rem;
	font-size:1rem;
}

button {
	margin:0.4rem;
	background: rgb(126 92 251);
	font-family: Fixel;
	font-size: 1rem;
	font-weight: 500;
	height: 3rem;
	border-radius: 5px;
}

a.button {
	background: rgb(126 92 251);
	font-family: Fixel;
	font-size: 1.2rem;
	padding: 0.6rem;
	padding-left:1rem;
	padding-right:1rem;
	font-weight: 500;
	height: 3rem;
	border-radius: 5px;
	color:white;
	text-decoration: none;
}


@media (max-width:600px) {
	.container {
	margin: 0 auto;
	max-width: 600px;
	padding-left: 16px;
	padding-right: 16px;
}

	.grid-half {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
		padding-top:3rem;
		padding-bottom: 3rem;
	
	}
	
	.center-text h1 {
		margin:0;
		font-weight:600;
		font-size: 12vw;
	}
	
	.center-text p {
		padding:0;
		margin:0;
		font-size:7vw;
	}
	
	.grid-3-1 {
		display:grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
		padding-top:3rem;
		padding-bottom: 3rem;
	}
	
	.grid-1-3 {
		display:grid;
		grid-template-columns:1fr;
	}
	
	.main-text-cont {
		max-width: 600px;
	}
	
	.main-text-cont p {
		font-size: 5vw;
		padding-bottom: 12px;
	}
	
	.dov {
		font-weight:500;
		color:#7d5bfa;
		text-decoration: underline;
		text-decoration-style: wavy;
		text-decoration-thickness: 2px;
		text-underline-offset: 4px;
		text-decoration-color: rgb(126 92 251 / 60%);
		
	}
	
	.boxes {
		display:none;
	}
	
	.services {
		padding-top:3rem;
		padding-bottom: 3rem;
		background-color: rgb(14 0 64);
		color: #dddaff;
	}
	
	.service h3,p {
		margin:0px;
	}
	
	.service h3 {
		font-size: 7vw;
		padding-top:10px;
		padding-bottom:6px;
	}
	
	.service p {
		font-size: 5vw;
		padding-bottom:30px;
	}
	
	.center-img {
		display:flex;
		align-items:center;
		justify-content:center;
	}
	
	.for-who {
		display:grid;
		grid-template-columns: 1fr;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	
	.for-who p {
		font-size: 5vw;
		padding-bottom: 12px;
	}
	
	.repeat-logo {
		background-image: url("logo-w.png");
		background-repeat: round;
		background-size: 20%;
	}
	
	.card-form {
		background-color: rgb(14 0 64);
		text-align: center;
		color: #dddaff;
		margin:3rem;
		padding:2rem;
		border:1px solid #eeeeee;
		border-radius: 10px;
		max-width: 600px;
		min-width: 80%;
		box-shadow: 0px 2px 5px #cccccc;
	}
	
	.card-form p {
		font-size:6vw;
	}

	.card-form a {
		color:rgb(126 92 251);
	}
	
	.center {
		display:flex;
		justify-content:center;
	}
	
	.col input {
		margin:0.4rem;
		width:90%;
		height:2rem;
		font-size:1rem;
	}
	
	.form-group textarea {
		margin: 0.4rem;
		width:90%;
		height: 10rem;
		font-size:1rem;
	}
	
	button {
		margin:0.4rem;
		background: rgb(126 92 251);
		font-family: Fixel;
		font-size: 1rem;
		font-weight: 500;
		height: 3rem;
		border-radius: 5px;
	}
	
	a.button {
		background: rgb(126 92 251);
		font-family: Fixel;
		font-size: 1.2rem;
		padding: 0.6rem;
		padding-left:1rem;
		padding-right:1rem;
		font-weight: 500;
		height: 3rem;
		border-radius: 5px;
		color:white;
		text-decoration: none;
	}
}